 body {
      font-family: Arial, sans-serif;
      background-color: #6699CC; 
      margin: 0;
      padding: 0;
    }
    .navbar {
      display: flex;
      justify-content: center;
      background-color: #66CCCC; 
      border: 2px solid black; 
      border-radius: 15px;
    }
    .navbar a {
      display: block;
      padding: 14px 20px;
      text-align: center;
      text-decoration: none;
      color: black; 
      border-right: 2px solid black; 
      border-radius: 15px;
      flex: 1 1 auto; 
    }
    .navbar a:last-child {
      border-right: none; 
    }
    .centered-image-container {
      display: flex;
      justify-content: center;
      margin-top: 20px; 
    }
    .centered-image-container img {
      max-width: 100%;
      height: auto;
      width: 1200px; 
      height: 400px;
    }
    .content {
      text-align: center;
      padding: 20px;
    }
    @media (max-width: 768px) {
      .navbar a {
        padding: 10px 15px;
        font-size: 14px;
      }
    }
    @media (max-width: 576px) {
      .navbar a {
        padding: 8px 10px;
        font-size: 12px;
      }
    } 